<!-- footer section -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container ">
      <h6 class="navbar-text  ">&copy; Copyright by Manik 2021. All right reserved</h6>
      
    </div>
  </nav>